.circle {
  display: block;
  height: 110px;
  width: 110px;
  border: 15px solid;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 1px rgb(207, 173, 234);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1025px) {
  .circle {
    width: 90px;
    height: 90px;
    border: 8px solid;
  }
}
